{% extends "battle/base.html" %}
{% block title %}
{{ battle.theme }}
{% endblock %}
{% block main %}
<div class="container">
    <main>
        <div class="card-list">
            <div class="card-list__header">
                <h4 class="red">红方</h4>
                <button>加入</button>
            </div>
            <div class="card">
                <div class="card__header">
                    <a href="#">用户名称</a>

                </div>
                <div class="card__body">
                    <p>评论内容</p>
                </div>
                <div class="card__footer">
                    <button>点赞</button>
                    <p>点赞数:99</p>
                </div>
            </div>
            <div class="card">
                <div class="card__header">
                    <a href="#">用户名称</a>

                </div>
                <div class="card__body">
                    <p>评论内容</p>
                </div>
                <div class="card__footer">
                    <button>点赞</button>
                    <p>点赞数:99</p>
                </div>
            </div>
            <div class="card">
                <div class="card__header">
                    <a href="#">用户名称</a>

                </div>
                <div class="card__body">
                    <p>评论内容</p>
                </div>
                <div class="card__footer">
                    <button>点赞</button>
                    <p>点赞数:99</p>
                </div>
            </div>
            <div class="card">
                <div class="card__header">
                    <a href="#">用户名称</a>

                </div>
                <div class="card__body">
                    <p>评论内容</p>
                </div>
                <div class="card__footer">
                    <button>点赞</button>
                    <p>点赞数:99</p>
                </div>
            </div>
        </div>
        <div class="center-card">
            <h3>{{ battle.theme }}</h3>
            <p>创建者:</p>
            <a href="#">{{ battle.creator }}</a>
            <button>强势围观</button>
            <p>围观人数:{{ battle.watch_number }}</p>
            <div class="info">

            </div>
            <div class="info">

            </div>
            <div class="info">

            </div>
        </div>
        <div class="card-list">
            <div class="card-list__header">
                <h4 class="blue">蓝方</h4>
                <button>加入</button>
            </div>
            <div class="card">
                <div class="card__header">
                    <a href="#">用户名称</a>

                </div>
                <div class="card__body">
                    <p>评论内容</p>
                </div>
                <div class="card__footer">
                    <button>点赞</button>
                    <p>点赞数:99</p>
                </div>
            </div>
            <div class="card">
                <div class="card__header">
                    <a href="#">用户名称</a>

                </div>
                <div class="card__body">
                    <p>评论内容</p>
                </div>
                <div class="card__footer">
                    <button>点赞</button>
                    <p>点赞数:99</p>
                </div>
            </div>
            <div class="card">
                <div class="card__header">
                    <a href="#">用户名称</a>

                </div>
                <div class="card__body">
                    <p>评论内容</p>
                </div>
                <div class="card__footer">
                    <button>点赞</button>
                    <p>点赞数:99</p>
                </div>
            </div>
            <div class="card">
                <div class="card__header">
                    <a href="#">用户名称</a>

                </div>
                <div class="card__body">
                    <p>评论内容</p>
                </div>
                <div class="card__footer">
                    <button>点赞</button>
                    <p>点赞数:99</p>
                </div>
            </div>
        </div>
    </main>
    <aside></aside>
</div>
{% endblock %}